<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <script src="/js/main.js" defer></script>
    <script src="/js/upload.js" defer></script>
    <script src="/js/live-search.js" defer></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/upload.css">
    <link rel="stylesheet" href="css/upload_error.css">
</head>
<body>



    <section class="uploading_error">

        <h1 class="warning">An error occurs during the <br> uploading of the image please try again 🥺 !</h1>
        


        <div class="image_warning_container ">
        <img src="images/1644774448610.png" alt="" class="image_warning">
        </div>
        
        <p class="back_link"> <a>Back</a></p>
        <div class="decoration"></div>
        <div class="decoration_two"></div>
    </section>

    <div class="scroll">
    </div>

    
    <section class="WrningBack_drop">
    </section>

    <section class="backdrop">
    </section>

    <section class="loading_backdrop">
        <div class="loader">Loading...</div>
      <h1> loading.. </h1> 
    </section>

    <!-- upload model -->
 
    <div class="upload_box"> 


        <div class="image_container">
            <input type="file" class="image_file" name="image" hidden accept="image/*">
            <img  alt="" class="img__">
            <img src="images/camera.svg" alt="" class="file_picker">
        </div>



        <div class="upload_btn_and_inpu_tex-container">
        <input type="text" placeholder="Image Title:" class="image_name">
        <button class="upload_btn"> <img src="images/upload.svg" alt=""> Upload</button>
        </div>
    </div>


    <!--  -->


 <section class="loading_page">
    <h1 class="loading_logo">My NOte</h1>
</section>







 <main>
    <div class="menu_sercle">

        <div class="toogle_place">

        <div class="toggle-container">

            <div class="toggle_identification">
               <h4> ToogleToDarkMode </h4>
            </div>

            <div class="toggle_box">
               <img src="images/sun.svg" alt="" class="image_toggle"  id="light">
               <img src="/images/moon.svg" alt="" class="image_toggle image_toggl2" id="dark">
                <div class="toggle_btn">

                </div>
            </div>

        </div>
    </div>

     <div class="menu_btn_container">   <img src="/images/align-right.svg" alt="" class="menu_btn"> </div>

    </div>

    <% if(profile.length > 5) { %>
 <header class="main_header">

     <div class="profile">    
         <a href="/get_profile/<%= __id %>">  
<img src="/<%= profile%>" alt="">
        </a>  
     </div>
     <%  } %>

     <div class="header_container">
         <form action="search_note" method="POST">
             <div class="search-input_container">
            <button> <img src="/images/search_two.svg" alt=""> </button>
             <input type="text" class="search_input" placeholder="Search An Image By It Title " name="search">
            </div>

            <div class="live_search_box">
                <img src="images/close2.svg" alt="" class="close_search_model">
              <div class="result-container"></div>
             <!-- <h4>Nothing  Found</h4>
             <p>make sure that you wrote it well !</p> -->
            </div>
         </form>
     </div>

 </header>


 <div class="empty_list"></div>
 <% if(data.length < 1) { %>
 
    <div class="no__lists">
    <h1 class="no_list">List Empty</h1>
 
      <div class="no_list_box">
      <img src="/images/download (8).svg" alt="">
      </div>
    </div>
 
  <% } %>

  


    <section class="image_container__">

        <% if(data.length > 0) { %>

        <% for(const element of data  ) { %>

        <div class="image_box">
            <script>
                math = Math.random
            </script>
            <input type="hidden" value="<%= element._id %>" class="image_inpu_id">
            <img src="/<%= element.imagepath  %>" alt="" class="image_loaded">
            <div class="drop_box" onclick ="deleFunc(event)">
                <img src="images/trash-alt.svg" alt="" >
            </div>
        </div>

        <% } %>
        <% } %>

        </section>



 <div class="add_btn">
    <img src="/images/plus.svg" alt="">
</div>

</main>

<div class="worning">
    <div class="warning_img">   <img src="report_problem_black_24dp.svg" alt="" > </div> 
<h3>The following image will be delete if you click the delete button, and there is not way to recover it  </h3>
<div class="btns_container">
    <button>Delete</button>
    <button>Cancel</button>
</div>
    </div>




<script src="/js/delete_image.js" defer></script>
</body>
</html>